@import url('https://use.typekit.net/goe1fni.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* source sans pro fonts  */
.source-sans-3-200 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.source-sans-3-400 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-500 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.source-sans-3-600 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.source-sans-3-700 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-900 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/* START: landing page cards */
body {
  background: #f0f2f4 !important;
}

.landing-cards {
  width: 217px;
  height: 90px;
  border-radius: 10px;
  /* background: #e1efff; */
  background-color: #212529;
}

.landing-cards h5 {
  font-family: 'Inter';
  font-size: 29px;
  font-weight: 700;
  line-height: 35.1px;
  text-align: left;
}

.landing-cards p {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.landing-cards p,
.landing-cards h5 {
  margin-bottom: 0;
  /* color: #676767; */
  color: #fff;
}

.landing-cards h5>span:first-child {
  margin-right: 5px;
}

.text-danger-red {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.month-week-data a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 29.82px;
  text-align: left;
  text-decoration: none;
  color: #9a9a9a;
}

.month-week-data a.active {
  color: #000;
}

/* END: landing page cards */

/* side bar  */
.sidebar {
  width: 20% !important;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 1rem;

  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 99px;
}

.sidebar-content h3 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.37px;
}

.sidebar-content {
  width: 80% !important;
  box-sizing: border-box;
  padding-left: 2rem !important;
}

/* footer section start here  */
.footer {
  background-color: #f5f9ff;
  padding: 60px 0;
}

.footer a {
  color: #04004e;
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 700;
  line-height: 26.63px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #0062ff;
}

.footer-sub a,
.footer-sub span {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  color: #04004e;
}

.custom-boxShadaow {
  box-shadow: 0px 4px 10px 0px #00000024;
}

/* sub top nav  */
.select-dateWrapper {}

.select-date-label {}

.subTopNav-selectDate {
  width: 220px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #b1b1b1;
  cursor: pointer;
}

.sub-topnav {
  margin-top: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.sub-topnavWrapper1>div {}

.sub-topnavWrapper2 {
  background: white;
  border-radius: 10px;
  padding: 9px;
}

#customDropdown {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  background-color: black;
  z-index: 999;
  padding-right: 30px;
  height: 60px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 230px;
}

select#customDropdown:focus {
  box-shadow: none;
  border-color: #333;
}

.selectDateDropdown {
  z-index: 999;
  width: 150px;
}

.selectDateDropdown>div>div {
  width: 150px;
}

.dateNWeekWrapper {
  height: 45px;
}

.marginTop-93 {
  margin-top: 0;
}

.month-week-data button {
  font-family: Open Sans;
  font-size: 21.89px;
  font-weight: 600;
  line-height: 29.82px;
  color: #9a9a9a;
}

.month-week-data button.active {
  font-weight: 600;
  color: #000;
}

.primilary-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #8f8f8f;
  font-style: normal;
}

.main-content__h2 {
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 60.37px;
  text-align: left;
  color: #000;
}

.current-days-inactive {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #b1b1b1;
}

.current-days-active {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #000000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main-sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: inherit;
  z-index: -1;
  border-radius: 30px;
}

.main-sidebar-sticky {
  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.rs-dropdown {
  width: 100%;
}

.rs-dropdown button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100%;
  flex-direction: row-reverse;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 62.93px;
  text-align: left;
  text-transform: capitalize;
}

.rs-dropdown button img {
  margin-left: 20px;
}

.rs-dropdown button:hover {
  background-color: transparent;
}

.rs-dropdown-open .rs-dropdown-toggle-caret {
  transform: rotate(180deg);
}

.rs-dropdown-toggle-caret {
  top: auto !important;
}

.rs-dropdown-menu {
  width: 100%;
}

.rs-dropdown-toggle-caret {
  font-size: 22px !important;
  height: 30px !important;
}

.geo-chart-wrapper {
  display: flex;
  justify-content: flex-end;
  background: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.geo-map-wrapper-active {
  background: #000;
}

.geo-map-wrapper {
  width: 58px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-date-ribbon {
  display: flex;
  align-items: flex-start;
}

.select-date-ribbon li button {
  text-align: center;
}

/* button styles */
.modal-header button.btn-close:before {
  content: "\2715";
  font-size: 1.5rem;
  color: #000;
  top: 10px;
  position: absolute;
  right: 15px;
}

.modal-footer .btn.btn-primary {
  background-image: auto;
  background-color: #0d6efd !important;
}

.modal-footer .btn.btn-secondary {
  background-image: auto;
  background-color: #6c757d !important;
}

@media only screen and (max-width: 1279px) {
  .hidden-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1100px) {
  #customDropdown {
    width: 190px;
  }

  .subTopNav-selectDate {
    width: 190px;
  }

  .landing-cards h5 {
    font-size: 22px;
    line-height: 24px;
  }

  .month-week-data button {
    font-size: 18px;
    line-height: 21px;
  }

  .accordion-header button,
  .current-days-inactive,
  .current-days-active {
    font-size: 14px;
    line-height: 20px;
  }

  .top-cards {
    gap: 1rem;
  }

  .landing-cards {
    width: 190px;
    padding: 0 10px;
  }

  .main-content__h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1023px) {
  #customDropdown {
    width: 190px;
  }

  .landing-cards {
    width: 175px;
    flex-direction: column;
    padding: 10px;
    height: 100%;
  }

  .subTopNav-selectDate {
    width: 180px;
  }

  .select-date-ribbon li button {
    text-align: center;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1023px) {

  .container,
  .container-sm {
    width: 100% !important;
  }

  .sidebar-content {
    width: 100% !important;
  }

  .navbar-expand-md .navbar-toggler {
    display: block !important;
  }

  .offcanvas.offcanvas-end {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .top-cards {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .month-week-data {
    margin-top: 20px !important;
  }

  .marginTop-93 {
    margin: 0;
  }

  .sub-topnavWrapper1 {
    width: 85% !important;
    margin: 0 auto;
    display: inline-block !important;
  }

  .subTopNav-selectDate {
    width: 180px;
  }

  .month-week-data button {
    font-size: 16px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 767px) {
  .top-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .landing-cards {
    width: fit-content;
    padding: 10px;
    min-width: 180px;
    margin: 0 auto;
  }

  .linechart-height-mobile {
    height: 400px !important;
  }

  .subTopNav-selectDate {
    width: 100%;
  }

  .landDateToolTip {
    font-size: 12px;
  }

  .contentGraph {
    padding: 0;
  }
}

.modal-90w {
  max-width: none !important;
  width: 80% !important;
}

.rs-modal-wrapper {
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.rs-modal-full {
  height: 100%;
  margin: 0;
}

.rs-modal {
  display: none;
  /* margin: 30px auto 0; */
  outline: 0;
  overflow: visible;
  position: relative;
  width: auto;
  z-index: 1050;
}

.rs-modal-full .rs-modal-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.rs-modal-content {
  background-color: #fff;
  background-color: #fff;
  border: none;
  border: var(--rs-modal-border, none);
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  /* -webkit-box-shadow: var(--rs-modal-shadow); */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  outline: 0;
  padding: 20px;
  position: relative;
}

.rs-modal-full .rs-modal-content .rs-modal-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.rs-modal-header {
  padding-right: 20px;
}

.rs-modal-full .rs-modal-content .rs-modal-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}

.rs-modal-body {
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.rs-modal-header .rs-modal-header-close {
  color: #8e8e93;
  color: var(--rs-text-secondary);
  font-size: 12px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.rs-btn-close {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  outline: none !important;
}

.rs-modal-full .rs-modal-content .rs-modal-footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.rs-modal-footer {
  border-top: none;
  text-align: right;
}

.custom-tooltip {
  background-color: #fff;
  border-radius: 10;
  padding: 10px;
  border: 1px solid #e1e1e1;
  color: #000;
}

.date-flag {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: grey;
}

.linecard-title {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #000;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  /* flex-wrap: wrap; */
}

.linecard-title .head {
  border-bottom: 1px solid #a0a0a0;
  font-size: 25px;
  font-weight: 800;
  line-height: 29.82px;
}

.linecard-title .subTitle {
  color: #a0a0a0;
}

.linecard-title p {
  padding: 0;
  margin: 0;
}

.paddingTop-0 {
  padding-top: 1rem !important;
}

.zoomPosition {
  text-align: right;
  float: right;
  margin-top: 3px;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  margin-left: 5px;
  z-index: 9999;
}

button.active {
  font-weight: bold;
  color: #fff;
}

.rs-modal-backdrop.rs-anim-in {
  opacity: 1;
}

.rs-modal-backdrop.rs-anim-fade {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.rs-anim-fade.rs-anim-in {
  opacity: 1;
  pointer-events: auto;
}

.rs-modal-backdrop {
  background-color: rgb(from #121212 r g b / 30%) !important;
  background-color: var(--rs-bg-backdrop);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1049;
}

.rs-anim-fade {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* .rs-modal {
  display: none;
  margin: 30px auto 0;
  outline: 0;
  overflow: visible;
  position: relative;
  width: 400px;
  z-index: 1050;
} */

.glossary {
  outline: none !important;
  text-decoration: none;
  color: #a0a0a0;
  width: 100%;
  display: block;
  font-size: 19px;
  padding: 9px 25px;
  border-top: 2px solid #CFE1FE;
  border-bottom: 2px solid #CFE1FE;
}

.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important;
}

.ds-card-font {
  color: #1A1A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ds-card-white-width {
  width: 274px !important;
}



.metro-new__card-title {
  font-weight: 700;
  font-size: 16px;
  color: #1A1A1A;
}

.metro-new__card-count {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2A54A7;
}

.metro-new__card-summary {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.metro-new__card-summary-span {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #939393;
}

.metro-new__card-year {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.box-1 {
  gap: 8px;
}

.box-1__content {
  gap: 2px;
}

.incident-response-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}