@import url('https://use.typekit.net/goe1fni.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* START: landing page cards */
body {
  background: #f0f2f4 !important;
}
.landing-cards {
  width: 217px;
  height: 76px;
  border-radius: 10px;
  background: #e1efff;
}

.landing-cards h5 {
  font-family: 'Inter';
  font-size: 29px;
  font-weight: 700;
  line-height: 35.1px;
  text-align: left;
}
.landing-cards p {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
}
.landing-cards p,
.landing-cards h5 {
  margin-bottom: 0;
  color: #676767;
}
.landing-cards h5 > span:first-child {
  margin-right: 5px;
}
.text-danger-red {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.month-week-data a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 29.82px;
  text-align: left;
  text-decoration: none;
  color: #9a9a9a;
}
.month-week-data a.active {
  color: #000;
}
/* END: landing page cards */

/* side bar  */
.sidebar {
  width: 20% !important;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 1rem;

  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 99px;
}
.sidebar-content h3 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.37px;
}
.sidebar-content {
  width: 80% !important;
  box-sizing: border-box;
  padding-left: 3rem;
}
.accordion-item {
  border: none !important;
  outline: none !important;
}
.accordion-header button {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 29.96px;
}
.accordion-item ul {
  list-style: none;
  display: block;
  padding: 0;
  margin-bottom: 1rem;
}
.accordion-item ul li:last-child {
  border: none;
}
.accordion-item ul li {
  border-bottom: 0.5px solid #9b9b9b;
  border: none;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  color: #a0a0a0;
}

.accordion-item ul li.active,
.accordion-item ul li.active a {
  background: #ededed;
  color: #7a7a7a;
}

.accordion-item ul li a {
  padding: 0 !important;
  outline: none !important;
  text-decoration: none;
  color: #a0a0a0;
  width: 100%;
  display: block;
}

.accordion-body {
  padding: 0 !important;
  outline: none !important;
}
.accordion-header .accordion-button {
  background: #f2f8ff;
  border-width: 0;
  border-top-left-radius: 0;
  box-shadow: none;
  outline: none !important;
}
.accordion-button,
.accordion-button:focus,
.accordion-button:active {
  outline: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125);
}
/* footer section start here  */
.footer {
  background-color: #f5f9ff;
  padding: 60px 0;
}
.footer a {
  color: #04004e;
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 700;
  line-height: 26.63px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #0062ff;
}
.footer-sub a,
.footer-sub span {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  color: #04004e;
}
.custom-boxShadaow {
  box-shadow: 0px 4px 10px 0px #00000024;
}

/* sub top nav  */
.subTopNav-selectDate {
  width: 220px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #b1b1b1;
  cursor: pointer;
}

.sub-topnav {
  margin-top: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.sub-topnavWrapper1 > div {
}
.sub-topnavWrapper2 {
  background: white;
  border-radius: 10px;
  padding: 9px;
}
#customDropdown {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  background-color: black;
  z-index: 999;
  padding-right: 30px;
  height: 60px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 230px;
}

select#customDropdown:focus {
  box-shadow: none;
  border-color: #333;
}
.selectDateDropdown {
  z-index: 999;
  width: 150px;
}
.selectDateDropdown > div > div {
  width: 150px;
}
.dateNWeekWrapper {
  height: 45px;
}
.marginTop-93 {
  margin-top: -93px;
}
.month-week-data button {
  font-family: Open Sans;
  font-size: 21.89px;
  font-weight: 600;
  line-height: 29.82px;
  color: #9a9a9a;
}
.month-week-data button.active {
  font-weight: 600;
  color: #000;
}
.primilary-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #8f8f8f;
  font-style: normal;
}
.main-content__h2 {
  font-family: Outfit;
  font-size: 36px;
  font-weight: 700;
  line-height: 60.37px;
  text-align: left;
  color: #000;
}
.current-days-inactive {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #b1b1b1;
}
.current-days-active {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: #000000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main-sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: inherit;
  z-index: -1;
  border-radius: 30px;
}

.main-sidebar-sticky {
  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

.rs-dropdown {
  width: 100%;
}
.rs-dropdown button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100%;
  flex-direction: row-reverse;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 62.93px;
  text-align: left;
  text-transform: capitalize;
}
.rs-dropdown button img {
  margin-left: 20px;
}
.rs-dropdown button:hover {
  background-color: transparent;
}
.rs-dropdown-open .rs-dropdown-toggle-caret {
  transform: rotate(180deg);
}
.rs-dropdown-toggle-caret {
  top: auto !important;
}
.rs-dropdown-menu {
  width: 100%;
}
.rs-dropdown-toggle-caret {
  font-size: 22px !important;
  height: 30px !important;
}

.geo-chart-wrapper {
  display: flex;
  justify-content: flex-end;
  background: #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.geo-map-wrapper-active {
  background: #000;
}
.geo-map-wrapper {
  width: 58px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1279px) {
  .hidden-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1100px) {
  #customDropdown {
    width: 190px;
  }
  .subTopNav-selectDate {
    width: 190px;
  }

  .landing-cards h5 {
    font-size: 22px;
    line-height: 24px;
  }

  .month-week-data button {
    font-size: 18px;
    line-height: 21px;
  }
  .accordion-header button,
  .current-days-inactive,
  .current-days-active {
    font-size: 14px;
    line-height: 20px;
  }

  .top-cards {
    gap: 1rem;
  }
  .landing-cards {
    width: 190px;
    padding: 0 10px;
  }
  .main-content__h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 1023px) {
  #customDropdown {
    width: 190px;
  }
  .landing-cards {
    width: 175px;
    flex-direction: column;
    padding: 10px;
    height: 100%;
  }
  .subTopNav-selectDate {
    width: 180px;
  }
}

@media only screen and (max-width: 1023px) {
  .container,
  .container-sm {
    width: 100% !important;
  }
  .sidebar-content {
    width: 100% !important;
  }
  .navbar-expand-md .navbar-toggler {
    display: block !important;
  }
  .offcanvas.offcanvas-end {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .top-cards {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .month-week-data {
    margin-top: 20px !important;
  }
  .marginTop-93 {
    margin: 0;
  }
  .sub-topnavWrapper1 {
    width: 85% !important;
    margin: 0 auto;
    display: inline-block !important;
  }
  .subTopNav-selectDate {
    width: 180px;
  }
  .month-week-data button {
    font-size: 16px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 767px) {
  .top-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .landing-cards {
    width: fit-content;
    padding: 10px;
    min-width: 180px;
    margin: 0 auto;
  }

  .linechart-height-mobile {
    height: 400px !important;
  }
  .subTopNav-selectDate {
    width: 100%;
  }
}
.rs-modal-wrapper {
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.rs-modal-full {
  height: 100%;
  margin: 0;
}

.rs-modal {
  display: none;
  /* margin: 30px auto 0; */
  outline: 0;
  overflow: visible;
  position: relative;
  width: auto;
  z-index: 1050;
}

.rs-modal-full .rs-modal-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.rs-modal-content {
  background-color: #fff;
  background-color: #fff;
  border: none;
  border: var(--rs-modal-border, none);
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  /* -webkit-box-shadow: var(--rs-modal-shadow); */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
  outline: 0;
  padding: 20px;
  position: relative;
}

.rs-modal-full .rs-modal-content .rs-modal-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.rs-modal-header {
  padding-right: 20px;
}

.rs-modal-full .rs-modal-content .rs-modal-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}

.rs-modal-body {
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.rs-modal-header .rs-modal-header-close {
  color: #8e8e93;
  color: var(--rs-text-secondary);
  font-size: 12px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.rs-btn-close {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  outline: none !important;
}

.rs-modal-full .rs-modal-content .rs-modal-footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.rs-modal-footer {
  border-top: none;
  text-align: right;
}

.custom-tooltip {
  background-color: #fff;
  border-radius: 10;
  padding: 10px;
  border: 1px solid #e1e1e1;
  color: #000;
}

.date-flag {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: grey;
}
.linecard-title {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #000;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.linecard-title .head {
  border-bottom: 1px solid #a0a0a0;
  font-size: 25px;
  font-weight: 800;
  line-height: 29.82px;
  text-transform: capitalize;
}
.linecard-title .subTitle {
  color: #a0a0a0;
}
.linecard-title p {
  padding: 0;
  margin: 0;
}
.paddingTop-0 {
  padding-top: 1rem !important;
}

.zoomPosition {
  text-align: right;
  float: right;
  margin-top: 3px;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  margin-left: 5px;
  z-index: 9999;
}
button.active {
  font-weight: bold;
  color: #fff;
}