@import url('https://use.typekit.net/goe1fni.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.main-sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: inherit;
  z-index: -1;
  border-radius: 30px;
}

.main-sidebar-sticky {
  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

.rs-dropdown {
  width: 100%;
}
.rs-dropdown button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100%;
  flex-direction: row-reverse;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 62.93px;
  text-align: left;
  text-transform: capitalize;
}
.rs-dropdown button img{
  margin-left: 20px;
}
.rs-dropdown button:hover {
  background-color: transparent;
}
.rs-dropdown-open .rs-dropdown-toggle-caret {
  transform: rotate(180deg);
}
.rs-dropdown-toggle-caret {
  top: auto !important;
}
.rs-dropdown-menu {
  width: 100%;
}
.rs-dropdown-toggle-caret {
  font-size: 22px !important;
  height: 30px !important;
}

.geo-chart-wrapper{
  display: flex;
  justify-content: flex-end;
}
.geo-map-wrapper-active{
  background: #00649A;
}
.geo-map-wrapper{
  width: 58px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}